# НЕ ЗАБУДЬТЕ ЗАМЕНИТЬ my_mod НА ПРЕФИКС СВОЕГО МОДА

init python:
    # Кастомный конфиг на основе шаблона
    class my_mod_ModScreenManagerConfig(ModScreenManagerConfig):
        # Переопределяем параметры
        # Для опциональных параметров можем указать "" или False, если не хотим менять
    
        # Имя мода
        # БЕЗ ШРИФТОВ, ЦВЕТА И ПРОЧИХ ТЕГОВ
        MOD_NAME = u"Менеджер экранов"

        # Имя мода в сохранении (опционально)
        # НЕ ДОБАВЛЯЕТСЯ АВТОМАТИЧЕСКИ В СОХРАНЕНИЕ МОДА
        # нужно руками вносить через my_mod_ModScreenManagerConfig.MOD_SAVE_IDENTIFIER
        # или просто руками каждый раз вводить 
        MOD_SAVE_IDENTIFIER = "Имя сохранения менеджера экранов"

        # Замена имени окна БЛ на имя своего мода (опционально)
        MOD_REPLACE_WINDOW_NAME = False

        # Свой курсор (опционально)
        MOD_CURSOR_PATH = False
        
        # Свой трек в главном меню (опционально)
        MOD_MENU_MUSIC = False
        
        # Выбираем только нужные экраны
        DEFAULT_SCREENS = [
            "main_menu", # Главное меню
            "game_menu_selector", # Быстрое меню (на ПКМ/Esc)
            "say", # Диалоговое окно
            "nvl", # NVL диалоговое окно
            "preferences", # Настройки
            "save", # Сохранение
            "load", # Загрузка
            "choice", # Выбор
            "text_history_screen", # Экран истории
            "history", # Экран концовок (Сова в главном меню БЛ)
            "yesno_prompt", # Экран подтверждения действия (при выходе из игры/загрузке сохранения и т.п.)
            "skip_indicator", # Индикатор пропуска (при зажатом CTRL, например)
            "help", # Помощь
            "quit", # Выход
        ]
        
        # включить/выключить логирование в консоль Ren'Py (опционально)
        LOGGING = False
        # Уровень логирования (опционально)
        LOG_LEVEL = 20 # INFO
init:
    $ mods["my_mod_start"] = "Менеджер экранов"
    # Создаем глобальный экземпляр менеджера с нашим кастомным шаблоном
    $ my_mod_screen_manager = ModScreenManager(my_mod_ModScreenManagerConfig)

label my_mod_start:    
    # Даём имя сохранению, чтобы при загрузке сейва из нашего мода у нас автоматически включался наш интерфейс.
    # Важно: проверяем, что в нашем имени сохранения будет присутствовать MOD_SAVE_IDENTIFIER или MOD_NAME из конфига мода, по нему мы проверяем мод, сейв которого мы грузим.
    # Пример: MOD_SAVE_IDENTIFIER = "Мой мод" или MOD_NAME = "Мой мод", значит save_name = "Мой мод. День 1.", "Мой мод начало" или "Старт Мой мод", т.е. чтобы в имени сохранения всегда присутстваол наш индентификатор мода или имя мода в том регистре, в котором он написан
    
    $ save_name = "Имя сохранения менеджера экранов"
    # или, если Вы боитесь забыть об указании идентификатора или имени мода, то можно сделать так:
    #$ save_name = my_mod_ModScreenManagerConfig.MOD_SAVE_IDENTIFIER
    # или
    #$ save_name = my_mod_ModScreenManagerConfig.MOD_NAME
    # если надо добавить ещё какой-то текст для например обозначения дня, то
    #$ save_name = my_mod_ModScreenManagerConfig.MOD_SAVE_IDENTIFIER + "Любой текст, который вы хотите"
    # или
    #$ save_name = my_mod_ModScreenManagerConfig.MOD_NAME + "Любой текст, который вы хотите"
    # так он всегда будет в Вашем имени сохранения

    $ my_mod_screen_manager.activate_screens()

    "Hello, world!"

    jump my_mod_exit

label my_mod_exit:
    # Обязательно отключаем наши экраны при выходе из мода
    # Будь то просто добавив функцию на кнопку выхода или при завершении мода через вызов функции в, например, экране Quit или yesno_prompt
    $ my_mod_screen_manager.deactivate_screens()
    return